<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{export/layout :: layout(${pageTitle}, ~{::mainContent})}">
<body>
<th:block th:fragment="mainContent">
    <div class="home-page">
        <div th:if="${coverPictureExtension != null and !coverPictureExtension.isEmpty()}" class="cover-picture">
            <img th:src="${localeBasePath} + 'cover-picture.' + ${coverPictureExtension}" alt="Cover"/>
        </div>
        <div class="home-content">
            <h1 th:if="${pageTitle != null and !pageTitle.isEmpty()}" th:text="${pageTitle}">Title</h1>
            <p th:if="${description != null and !description.isEmpty()}" th:text="${description}" class="description">Description</p>
            <div th:if="${content != null and !content.isEmpty()}" th:utext="${content}" class="content-text"></div>
        </div>
    </div>
</th:block>
</body>
</html>
