// app global css in SCSS form

.av-text-h1 {
  font-size: 3rem;
  margin: 0;
}

.av-text-h2 {
  font-size: 1.5rem;
  margin: 0;
}

.av-text-h3 {
  font-size: 1rem;
  margin: 0;
}

.av-text-h3 {
  font-size: 1rem;
  margin: 0;
}

.av-label-h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: clamp(2rem, 5vw, 3rem);
  margin-bottom: clamp(1rem, 4vw, 1rem);
  font-weight: 300;
  vertical-align: middle;
}

.av-label-h2 {
  font-size: clamp(1rem, 5vw, 3rem);
  font-weight: 300;
  line-height: clamp(1rem, 5vw, 1.5rem);
  letter-spacing: -0.00833em;
  margin: 0;
  vertical-align: middle;
}

h1 {
  margin: 0;
}

h2 {
  font-size: clamp(1rem, 4vw, 2rem);
  line-height: clamp(1.5rem, 4vw, 2rem);
}

h3 {
  font-size: clamp(1rem, 4vw, 2rem);
  margin: 0;
}

@media (max-width: 400px) {

  .av-label-h1 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    vertical-align: middle;
  }

  .av-label-h2 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 0;
    vertical-align: middle;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
  }

  h3 {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
  }

}

body {
  color: var(--q-primary);
}

a:link {
  color: var(--q-secondary);
}

a:visited {
  color: var(--q-primary);
}

.silent-link {
  color: inherit;
  all: unset;
}

.silent-link:visited {
  color: inherit;
  all: unset;
}

.silent-link:hover {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .artivact-modal-content {
    min-width: 25em;
    min-height: 30em;
  }

  .artivact-fixed-modal-content {
    width: 25em;
    height: 30em;
  }
}

.editor-label {
  min-width: 8em;
}

.av-darkened-parallax-container > .q-parallax__media {
  filter: brightness(75%);
}

.av-icon {
  background-size: 100% 100%; /* Stretch both width and height */
  background-repeat: no-repeat;
}

.av-responsive-title {

}
