<div xmlns:th="http://www.thymeleaf.org" th:fragment="widget(widget)"
     class="widget widget-info-box"
     th:classappend="${widget.boxType != null ? 'info-box-' + widget.boxType.toLowerCase() : 'info-box-info'}">
    <div class="info-box-content">
        <h2 th:if="${widget.heading != null and !widget.heading.isEmpty()}" th:text="${widget.heading}">Heading</h2>
        <div th:if="${widget.content != null and !widget.content.isEmpty()}" th:utext="${widget.content}" class="info-box-body"></div>
    </div>
</div>
